{
    "Logging": {
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        },
        "ConnectionStrings":
        {
            "Default": "Host=;Port=;Database=;Username=;Password=""
        }
    }
}